* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Button */
button.empty {
  background-color: #FFF8F6;
  border: 1px solid #FF8F73;
  border-radius: 5px;
  padding:10px;
  margin-left: 20px;
}


button.full {
  background-color: #FF8F73;
  border: 1px solid #FFF8F6;
  border-radius: 5px;
  padding:10px;
  margin-left: 20px;
}

/* Header */

/* Header-top-nav*/
.header-top {
 background-color: #F4F9FD;
}

.header-top-nav {
  line-height: 90px;
  width: 85%;
  margin: 0 auto;
  background-color: #F4F9FD;
}

.header-top-nav:after {
  content: "";
  display: table;
  clear: both;
}

.header-top-nav-left {
  float: left;
  margin-bottom: 10px;
}

.header-top-nav-right {
  float: right;
}

.header-top-nav li {
  display: inline-block;
  list-style: none;
  color: grey;
  padding-left: 10px;
}

/* Header-buttom-nav*/
.header-buttom-nav {
  background-color: #FFFF;
}

.header-buttom-nav-menu {
  background-color: #FFFF;
  width: 85%;
  margin: 0 auto;
  line-height: 90px;
}

.header-buttom-nav-menu:after {
  content: "";
  display: table;
  clear: both;
}

.header-buttom-nav-menu-right {
  float: right;
}

.header-buttom-nav-menu-left {
  float: left;
}

.header-buttom-nav-menu-left img {
  height: 35px;
  margin-top: 20px;
  margin-left: 10px;
}

.header-buttom-nav-menu-right li {
  display: inline-block;
  list-style: none;
  color: #33475B;
  padding-left: 10px;
  line-height: 40px;
  font-weight: bold;
}

.header-buttom-nav-menu-right i {
  font-size: 20px;
  margin-right: 10px;
}


/* Header-middle */
.header-middle {
  height: 600px;
  background-color: #FFF2EE;
  border: 1px solid black;
}

.header-buttom {
  height: 100px;
  background-color: #AFEBE4;
  border: 1px solid black;
}

/* Main */
.main-top {
 height: 1200px;
 background-color: #F5F8FA;
 border: 1px solid black;
}

.main-middle {
  height: 600px;
  background-color: #00B0B1;
  border: 1px solid black;
}

.main-middle {
  height: 600px;
  background-color: #FFFFFF;
  border: 1px solid black;
}

/* Footer */
.top-footer {
  height: 400px;
  background-color: #33475B;
  border: 1px solid black;
}

.buttom-footer {
  height: 200px;
  background-color: #33475B;
  border: 1px solid black;
}
