* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Button */
button.empty {
  background-color: #FFF8F6;
  border: 1px solid #FF8F73;
  border-radius: 5px;
  padding:10px;
  margin-left: 20px;
}


button.full {
  background-color: #FF8F73;
  border: 1px solid #FFF8F6;
  border-radius: 5px;
  padding:10px;
  margin-left: 20px;
}

button.grey {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding:10px;
  border-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.banner-button {
  background-color: #FF8F73;
  border: 1px solid #FFF8F6;
  border-radius: 5px;
  padding:20px;
  color:white;
  font-weight: bold;
}

button.banner-button-main {
  background-color: #FF8F73;
  border: 1px solid #FFF8F6;
  border-radius: 5px;
  padding:20px;
  color:white;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Header */

/* Header-top-nav*/
.header-top {
 background-color: #F4F9FD;
}

.header-top-nav {
  line-height: 90px;
  width: 85%;
  margin: 0 auto;
  background-color: #F4F9FD;
}

.header-top-nav:after {
  content: "";
  display: table;
  clear: both;
}

.header-top-nav-left {
  float: left;
  margin-bottom: 10px;
}

.header-top-nav-right {
  float: right;
}

.header-top-nav li {
  display: inline-block;
  list-style: none;
  color: grey;
  padding-left: 10px;
}

/* Header-buttom-nav*/
.header-buttom-nav {
  background-color: #FFFF;
}

.header-buttom-nav-menu {
  background-color: #FFFF;
  width: 85%;
  margin: 0 auto;
  line-height: 90px;
}

.header-buttom-nav-menu:after {
  content: "";
  display: table;
  clear: both;
}

.header-buttom-nav-menu-right {
  float: right;
}

.header-buttom-nav-menu-left {
  float: left;
}

.header-buttom-nav-menu-left img {
  height: 35px;
  margin-top: 20px;
  margin-left: 10px;
}

.header-buttom-nav-menu-right li {
  display: inline-block;
  list-style: none;
  color: #33475B;
  padding-left: 10px;
  line-height: 40px;
  font-weight: bold;
}

.header-buttom-nav-menu-right i {
  font-size: 20px;
  margin-right: 10px;
}


/* header-middle-container */
.header-middle-container{
  min-height: 705px;
  background-color: #FFF4EE;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  position: relative;
  width: 85%;
  height: 705px;
  margin: 0 auto;
}


.testo-banner {
 width: 30%;
 position: absolute;
 top: 0;
 left: 0;
}

.testo-banner h1 {
  font-size: 3em;
  color: #33475B;
  margin-top: 40px;
  margin-bottom: 20px;
}

.testo-banner p {
  font-size: 1em;
  color: #33475B;
  margin-bottom: 20px;
  line-height: 30px;
}

.testo-banner .note {
  font-size: 70%;
  color: #33475B;
  line-height: 30px;
  margin-top: 20px;
}

.header-buttom {
  height: 100px;
  background-color: #AFEBE4;
}

/* Main-top */

.main-top-container {
background-color:#F5F8FA;
}

.main-top {
 width: 85%;
 margin: 0 auto;
 background-color:#F5F8FA;
 text-align: center;
}

.testo-main-top h2 {
 margin-bottom: 20px;
}

.testo-main-top p {
 margin: 0 auto;
 text-align: center;
 width: 60%;
}

/* Main-top-middle */

.main-top-middle {
  border: 2px solid lightgrey;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #FFF;
}

.main-top-middle::after {
  content: "";
  display: table;
  clear: both;
}

.main-top-middle-left {
  float: left;
  width: 10%;
  margin-right: 10%;
}

.main-top-middle-right {
  float: left;
  width: 80%;
  text-align: left;
  margin-top: 40px;
}


.main-top-middle-right h3 {
  text-align: left;
  margin-bottom: 10px;
}

.main-top-middle-right p {
  font-size: 90%;
  margin-bottom: 10px;
}

.main-top-middle-right h5 {
  display: inline-block;
}

.main-top-middle-right hr {
  display: inline-block;
  width: 400px;
  margin-left: 40px;
}

.main-top-middle-right li {
  display: inline-block;
  list-style: none;
  color: grey;
  margin-top: 10px;
  margin-right: 20px;
}

.main-top-middle-right i {
  color: #FF8F73;
}

/* Inizio main-top-col */

.main-top-col{
  content: "";
  display: table;
  clear: both;
}

.col {
   float: left;
   width: 30%;
   margin-top: 30px;
   margin-bottom: 30px;
   border: 2px solid lightgrey;
   border-radius: 5px;
   background-color: #FFF;
 }

.center {
  margin-left: 5%;
  margin-right: 5%;
}

.main-top-col li {
  text-align: left;
  list-style: none;
  margin-left: 15px;
}

.main-top-col p {
  font-size: 90%;
  margin-bottom: 10px;
  line-height: 30px;
}

.main-top-col h3 {
  margin-bottom: 10px;
  text-align: center;
}

.main-top-col h5 {
  margin-bottom: 10px;
  text-align: center;
}

.main-top-col hr {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 80%;
}

.main-top-col i {
  color: #FF8F73;
}

/* Fine main-top-col */

/* Inizio main-middle  */

.main-middle-container {
  background-image: linear-gradient(45deg, #00A4BD, #00BDA5);
}


.main-middle {
  background-image: linear-gradient(45deg, #00A4BD, #00BDA5);
  width: 85%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main-middle-top {
  text-align: center;
  color: #FFF;
  margin-bottom: 20px;
}

.main-middle-top h2 {
 margin-bottom: 30px;
 padding-top: 30px;
}

.main-middle-bottom {
  padding-bottom: 100px;
}

.main-middle-bottom:after {
  content: "";
  display: table;
  clear: both;
}

.main-middle-bottom:last-child {
  border-right: none;
}

.middle-col {
  display: relative;
  float: left;
  border-right: 1px solid #FFF;
  width: 25%;
  text-align: center;
  color: #FFF;
  line-height: 30px;
}

.quattro {
  border-right: none;
}


.top {
  border-bottom: 1px solid #FFF;
  padding: 20px;
}

.bottom {
  padding: 20px;
}

/* Fine main-middle  */

/* Inizio main-bottom */
.main-buttom {
  width: 85%;
  margin: 0 auto;
}

.main-buttom-superiore {
  margin-bottom: 40px;
}

.main-buttom-superiore:after {
  content: "";
  display: table;
  clear: both;
}

.main-buttom-superiore-sinistro {
  float: left;
  width: 20%;
  margin-left: 5%;
}

.main-buttom-superiore-sinistro h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.main-buttom-superiore-destro {
  float: right;
  width: 70%;
  text-align: center;
}

.main-buttom-superiore-destro img {
  height: 20px;
  display: inline-block;
  margin-left:5%;
  margin-bottom: 20px;
}


.main-buttom-inferiore {
  position: relative;
  background-image: url(../img/woman.webp);
  background-repeat: no-repeat;
  background-position: right;
  height: 400px;
  background-size: 30%;
}


.testo-main-buttom-inferiore {
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
}

.testo-main-buttom-inferiore h2 {
 margin-bottom: 20px;
}

.testo-main-buttom-inferiore > p {
 margin-bottom: 20px;
 font-size: 1em;
 line-height: 30px;
 color: #33475B;
}

.testo-main-buttom-inferiore .note {
  font-size: 70%;
  color: #33475B;
  line-height: 30px;
  margin-top: 20px;
}

/* Fine main-bottom */


/* Footer */
.footer-container{
  background-color: #33475B;
}



.top-footer {
  width: 85%;
  height: 400px;
  margin: 0 auto;
  background-color: #33475B;
}

.top-footer::after {
  content: "";
  display: table;
  clear: both;
}

.top-footer ul {
 list-style: none;
 font-size: 70%;
}

.top-footer-colonna {
  float: left;
  width: 25%;
  padding-right: 5%;
  padding-top: 5%;
  color: #FFF;
  line-height: 30px;
}

.top-footer i {
  padding-right: 22px;
  font-size: 110%;
}










.buttom-footer {
  height: 200px;
  background-color: #33475B;
  border: 1px solid black;
}
