* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header-top-nav {
  height: 100px;
  background-color: #F4F9FD;
  border: 1px solid black;
}

.header-buttom-nav {
  height: 100px;
  background-color: #FFFF;
  border: 1px solid black;
}

.header-middle {
  height: 600px;
  background-color: #FFF2EE;
  border: 1px solid black;
}

.header-buttom {
  height: 100px;
  background-color: #AFEBE4;
  border: 1px solid black;
}
